*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    font-family: 'Helvetica','sans-serif';
}

#element{
    -webkit-animation: 5s ease 0s normal forwards 1 fadein;
    animation: 34s ease 0s normal forwards 1 fadein;
}

#element5{
    -webkit-animation: 0.5s ease 0s normal forwards 1 fadein;
    animation: 70s ease 0s normal forwards 1 fadein;
    
}

#element6{
    -webkit-animation: fadeOut 5s;
    -webkit-animation-delay:5s;
    -webkit-animation-fill-mode:forwards;
    -moz-animation:fadeOut 1s;
    -moz-animation-delay:5s;
    -moz-animation-fill-mode:forwards;
    animation:fadeOut 1s;
    animation-delay:86s;
    animation-fill-mode:forwards;
}

#element4{
    -webkit-animation: 5s ease 0s normal forwards 1 fadein;
    animation: 39s ease 0s normal forwards 1 fadein;
}

#element10{
    -webkit-animation: 5s ease 0s normal forwards 1 fadein;
    animation: 140s ease 0s normal forwards 1 fadein;
}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadeOut{
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}

@keyframes fadeOut{
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
  }

  .fadedOut{
    animation-delay: 30s;
    animation: fadeOut 30s ease forwards;
  }

.container3{
    height: 10px;
    width: 350px;
    color:#fff;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 20%;
}

.container{
    width: 100%;
    height: 100vh;
    background: #1f2964;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
}





.container2 {
    height: 5px;
    width: 350px;
    color:#fff;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 40%;
}

.container10 {
    height: 5px;
    width: 350px;
    color:#fff;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 88%;
    top: 70%;
}

.container h1{
    font-size: 25px;
    font-weight: 600;
}

.container3 h2{
    font-size: 25px;
    font-weight: 600;
}

#hideMeAfter5Seconds {
    animation: hideAnimation 0s ease-in 30s;
    animation-fill-mode: forwards;
  }
  
  @keyframes hideAnimation {
    to {
      visibility: hidden;
      width: 0;
      height: 0;
      background: #2b3232;
    }
  }

  @keyframes fadeIn{
    0% { opacity: 0; }
    75% { opacity:0; }
    100% { opacity: 1; }
  }

  


  .fade-in{
    animation-delay: 35s;
    animation: fadeIn 35s ease forwards;
  }

  .delay-1 {
    transition-delay: 5s;
  }

  
  body {
    background-color: #1f2964;
    padding: 0;
    margin: 0;
}

.cat {
    background-color: #534f48;
    height: 65px;
    width: 80px;
    border-radius: 0 80px 80px 0;
    position: absolute;
    bottom: 60px;
    right: 50px;
}
.ear {
    height: 15px;
    width: 15px;
    background-color: #534f48;
    position: absolute;
    bottom: 64px;
    left: 8px;
    border-radius: 20px 0 0 0;
    box-shadow: 25px 0 #534f48;
}
.eye,
.eye:before {
    height: 7px;
    width: 10px;
    border: 2px solid #2c2c2c;
    position: absolute;
    border-radius: 0 0 15px 15px;
    border-top: none;
}
.eye {
    top: 18px;
    left: 15px;
}
.eye:before {
    content: "";
    left: 30px;
}
.nose {
    background-color: #ffffff;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    position: absolute;
    top: 32px;
    left: 25px;
    box-shadow: 12px 0 #ffffff;
}
.nose:before {
    content: "";
    width: 12px;
    height: 8px;
    position: absolute;
    background-color: #ffffff;
    left: 6px;
}
.nose:after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-top: 8px solid #534f48;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    bottom: 7px;
    left: 6px;
}
.mouth {
    background-color: #2c2c2c;
    height: 15px;
    width: 17px;
    position: absolute;
    border-radius: 0 0 5px 5px;
    top: 38px;
    left: 27px;
    animation: mouth-move 2s infinite;
    transform-origin: top;
}
@keyframes mouth-move {
    50% {
        transform: scaleY(0.7);
    }
}
.body {
    background-color: #534f48;
    height: 90px;
    width: 140px;
    position: absolute;
    right: 65px;
    bottom: 0;
    border-radius: 60px 60px 0 0;
    animation: sleep 2s infinite;
    transform-origin: bottom right;
}
@keyframes sleep {
    50% {
        transform: scale(0.9, 1.05);
    }
}
.tail {
    background-color: #534f48;
    height: 20px;
    width: 100px;
    position: absolute;
    right: 150px;
    bottom: 0;
    border-radius: 20px 0 0 20px;
}
.body:before {
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 12px;
    width: 30px;
    border-radius: 6px;
    bottom: 0;
    left: 22px;
    box-shadow: 45px 0 #ffffff;
}
.bubble {
    height: 20px;
    width: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    left: 65px;
    top: 20px;
    border-radius: 50px 50px 50px 5px;
    animation: bubble-scale 2s infinite;
}
@keyframes bubble-scale {
    50% {
        transform: scale(1.6);
    }
}
.shadow {
    height: 10px;
    width: 240px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: absolute;
    bottom: 52px;
    left: 70px;
    animation: shadow 2s infinite;
}
@keyframes shadow {
    50% {
        transform: scaleX(0.7);
    }
}

body {
    padding: 0;
    margin: 0;
    background-color: #0c1330;
  }
  .container5 {
    height: 15em;
    width: 15em;
    background: linear-gradient(#3f006c, #750050, #b10042, #da4837, #f7bb38);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 75%;
    left: 50%;
    z-index: 1;
    overflow: hidden;
    border-radius: 16.8em;
    animation: colors 12s infinite forwards;
  }
  @keyframes colors {
    10% {
      background: linear-gradient(#3f006c, #750050, #b10042, #da4837, #f7bb38);
    }
    53% {
      background: linear-gradient(#14045f, #331a99, #282bce, #1555ec, #1e84f7);
    }
    55% {
      background: linear-gradient(#14045f, #331a99, #282bce, #1555ec, #1e84f7);
    }
    98% {
      background: linear-gradient(#3f006c, #750050, #b10042, #da4837, #f7bb38);
    }
    100% {
      background: linear-gradient(#3f006c, #750050, #b10042, #da4837, #f7bb38);
    }
  }
  .spinner {
    height: 28.12em;
    width: 28.12em;
    border-radius: 50%;
    position: absolute;
    top: 8.75em;
    left: -5.62em;
    animation: spin 12s infinite forwards;
  }
  @keyframes spin {
    10% {
      transform: rotate(0deg);
    }
    45% {
      transform: rotate(180deg);
    }
    55% {
      transform: rotate(180deg);
    }
    90% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .sun {
    background-color: #f7f7de;
    height: 3.75em;
    width: 3.75em;
    border-radius: 50%;
    position: absolute;
    left: 12.18em;
    top: -1.87em;
  }
  .sun:before,
  .sun:after {
    position: absolute;
    content: "";
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
  }
  .sun:before {
    height: 7.5em;
    width: 7.5em;
    right: -1.87em;
    bottom: -1.87em;
  }
  .sun:after {
    height: 12.5em;
    width: 12.5em;
    right: -4.37em;
    bottom: -4.37em;
  }
  .ray1 {
    height: 0;
    width: 0.6em;
    border-bottom: 10.6em solid rgba(255, 255, 255, 0.1);
    border-left: 1.8em solid transparent;
    border-right: 1.8em solid transparent;
    position: absolute;
    transform: rotate(130deg);
    bottom: 0.6em;
    right: 4em;
  }
  .ray2 {
    position: absolute;
    height: 0;
    width: 0.9em;
    border-bottom: 12.5em solid rgba(255, 255, 255, 0.1);
    border-left: 2.1em solid transparent;
    border-right: 2.1em solid transparent;
    transform: rotate(230deg);
    left: 3.75em;
    bottom: -0.3em;
  }
  .ray3 {
    position: absolute;
    height: 0;
    width: 0.3em;
    border-bottom: 12.5em solid rgba(255, 255, 255, 0.1);
    border-left: 0.9em solid transparent;
    border-right: 0.9em solid transparent;
    transform: rotate(80deg);
    left: -5.3em;
    bottom: -5.6em;
  }
  .ray4 {
    position: absolute;
    height: 0;
    width: 0.1em;
    border-bottom: 12.5em solid rgba(255, 255, 255, 0.1);
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    transform: rotate(280deg);
    left: 7.5em;
    bottom: -5.6em;
  }
  .moon {
    height: 3.75em;
    width: 3.75em;
    box-shadow: 1.25em -1.25em 0 0 #f7f7de;
    border-radius: 50%;
    position: absolute;
    bottom: -3.1em;
    left: 10.93em;
  }
  .moon:before,
  .moon:after {
    position: absolute;
    content: "";
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
  }
  .moon:before {
    height: 6.25em;
    width: 6.25em;
    right: -2.5em;
    bottom: 0;
  }
  .moon:after {
    height: 11.8em;
    width: 11.8em;
    left: -2.8em;
    bottom: -2.8em;
  }
  .stars {
    height: 0.15em;
    width: 0.15em;
    background-color: #ffffff;
    position: absolute;
    top: 3.7em;
    left: 9.3em;
    border-radius: 50%;
    box-shadow: 3em 9.3em #ffffff, -1.8em 11.2em #ffffff, 2.5em 16.2em #ffffff,
      -5em 6.2em #ffffff, -5.6em -0.6em #ffffff, -5.6em 3.7em 0 0.06em #ffffff,
      -5em 17.5em 0 0.05em #ffffff, -7.5em 14.3em #ffffff;
    animation: twinkle 12s infinite forwards;
  }
  @keyframes twinkle {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    53% {
      opacity: 0.7;
    }
    55% {
      opacity: 0.7;
    }
    98% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  .glow {
    height: 21.8em;
    width: 21.8em;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 50%;
    bottom: -19em;
    animation: float 5s infinite;
  }
  @keyframes float {
    50% {
      transform: translateY(0.75em);
    }
  }
  .glow:before,
  .glow:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: inherit;
    border-radius: 50%;
  }
  .glow:before {
    left: -9.3em;
    top: -3.1em;
  }
  .glow:after {
    right: -5.6em;
    top: -0.8em;
  }
  @media screen and (min-width: 600px) {
    .container {
      font-size: 20px;
    }
  }

 .heart{
    height: 60px;
    width:60px;
    background: #f20044;
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px #f20044;
    animation: heart 0.6s linear infinite;

 }

 .heart:before{
    content: '';
    position: absolute;
    height: 60px;
    width: 60px;
    background: #f20044;
    top:-50%;
    border-radius: 50px;
    box-shadow: 10px 10px 90px #f20044;
 }

 .heart:after{
    content: '';
    position: absolute;
    height: 60px;
    width: 60px;
    background: #f20044;
    right:-50%;
    border-radius: 50px;
    box-shadow: 10px 10px 90px #f20044;
 }
