---
---

@import "{{ site.theme }}";

  .page-header {
    background-color: #004992;
    background-image: radial-gradient(#1992e9, #004992);
  }
  @media screen and (min-width: 64em) {
    .page-header {
      padding: 2.5rem 3rem;
    }
  }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    .page-header {
      padding: 1.5rem 2rem;
    }
  }
  @media screen and (max-width: 42em) {
    .page-header {
      padding: 1rem 0.5rem;
    }
  }
  

  .project-name {
    color: #fff;
  }
  .project-name:hover {
    text-decoration: none;
  }
  .project-name {
    margin-top: 0;
    margin-bottom: 0rem;
  }
  @media screen and (min-width: 64em) {
    .project-name {
      font-size: 4rem;
    }
  }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    .project-name {
      font-size: 3rem;
    }
  }
  @media screen and (max-width: 42em) {
    .project-name {
      font-size: 2.4rem;
    }
  }
  
  .project-tagline {
    opacity: 0.9;
  }
  @media screen and (min-width: 64em) {
    .project-tagline {
      margin-bottom: 2rem;
    }
  }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    .project-tagline {
      margin-bottom: 1.7rem;
    }
  }
  @media screen and (max-width: 42em) {
    .project-tagline {
      margin-top: 0.4rem;
      margin-bottom: 1.3rem;
    }
  }
  .btn {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.5);
  }
  .btn:hover {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.5);
  }
  @media screen and (min-width: 64em) {
    .btn {
      padding: 0.75rem 1rem;
      font-size: 1.1rem;
    }
  }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    .btn {
      padding: 0.6rem 0.9rem;
      font-size: 1.05rem;
    }
  }
  @media screen and (max-width: 42em) {
    .btn {
      display: block;
      width: 100%;
      padding: 0.75rem;
      font-size: 1rem;
    }
    .btn + .btn {
      margin-top: 1rem;
      margin-left: 0;
    }
  }

  .main-content h1,
  .main-content h2,
  .main-content h3,
  .main-content h4,
  .main-content h5,
  .main-content h6 {
    //color: #0066CC;
    color: #36a48e
  }

  .full-width-image {
    width: 100%;
    height: auto;
  }

  @media screen and (min-width: 64em){
    .logo-size-image {
      height: 5rem;
      width: auto;
      margin-right: 1rem;
    }
  }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    .logo-size-image {
      height: 4rem;
      width: auto;
      margin-right: 0.75rem;
    }
  }
  @media screen and (max-width: 42em) {
    .logo-size-image {
      height: 2.5rem;
      width: auto;
      margin-right: 0rem;
    }
  }

  .main-content :first-child {
    margin-top: 0;
  }
  @media screen and (min-width: 64em) {
    .main-content {
      max-width: 64rem;
      padding: 2rem 2rem;
      margin: 0 auto;
      font-size: 1.1rem;
    }
  }
  @media screen and (min-width: 42em) and (max-width: 64em) {
    .main-content {
      padding: 1.7rem 1.7rem;
      font-size: 1.1rem;
    }
  }
  @media screen and (max-width: 42em) {
    .main-content {
      padding: 1rem 1rem;
      font-size: 1rem;
    }
  }

  .site-footer {
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: solid 1px #eff0f1;
  }